body{
  border: 2px #94C11F;
  background-color: #fff;
  background-position: right top;
  background-image: url("../../Assets/RightBlox2.png");
  background-repeat: no-repeat;
}

h2{
  font-weight: bold;
  font-family: Verdana;
  font-size:26px;
  color: #095203;
}

h4{
  font-weight: bold;
  font-family: Verdana;
  font-size:22px;
  color: #94C11F;
}

.listformat {
  font-family: Arial;
  font-size: 14px;
  color: darkgreen;
}

span {
  font-family: Verdana;
  font-size: 14px;
  color:darkblue;
}
