p {
 font-family: Arial;
 font-size: 14px;
 color: #6870B8;
}

body{
  font-family: Verdana;
  font-size:12px;
  color: #303248;
}

h2{
  font-weight: bold;
  font-family: Verdana;
  font-size:26px;
  color: #095203;
}

h4{
  font-weight: bold;
  font-family: Verdana;
  font-size:22px;
  color: #095203;
}
