p {
 font-family: Arial;
 font-size: 14px;
 color: #94C11F;
 background-color: ;
}

body{
  font-family: Verdana;
  font-size:12px;
  color: #94C11F
  border: 2px #94C11F;
  background-color: ;
  background-position: ;
  background-image: url("");
  display: table-cell;
}

h2{
  font-weight: bold;
  font-family: Verdana;
  font-size:26px;
  color: #095203;
}

h4{
  font-weight: bold;
  font-family: Verdana;
  font-size:22px;
  color: #095203;
}
