/* For each areas below, add in a value next to each colon of your choice */

p {
 font-family: ;
 font-size: ;
 color: ;
}

body{
  font-family: ;
  font-size: ;
  color: ;
}

h2{
  font-weight: ;
  font-family: ;
  font-size: ;
  color: ;
}

/* For this area, choose a suitable header tag to use before the first curly
 bracket */


{
  font-weight: ;
  font-family: ;
  font-size: ;
  color: ;
}
